.main-container {
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    justify-content: space-around;
    max-width: 50%;
    margin: 0 auto;
}

.item-section {
    text-align: left
}

.menu-section {
    margin: 0 auto;
    max-width: 80%;
}

.name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.name-dietary, .dietary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diet-icon {
    height: 20px;
}