/* HOME PAGE */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel {
    margin: 0 auto;
    width: 90%;
}

.d-block {
    height: 300px;
    width: 80%;
}

/* HEADER/NAV */
.nav {
    display: flex;
    justify-content: space-around;
    max-width: 50%;
    margin: 0 auto;
}

.header-subsection {
    display: flex;
    font-size: smaller;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}

/* CONTENT PAGES */
.item-section {
    text-align: left
}

.menu-section {
    margin: 0 auto;
    max-width: 80%;
}

.name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.name-dietary, .dietary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diet-icon {
    height: 20px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 481px) {
    /* HOME PAGE */
    .d-block {
        height: 500px;
    }

    /* HEADER/NAV */
    #address {
        max-width: 50%;
    }
}

@media screen and (min-width: 1000px) {
    /* HOME PAGE */
    .d-block {
        height: 650px;
    }
    
    /* HEADER/NAV */
    #address {
        max-width: 30%
    }

    /* CONTENT PAGES */
    .menu-section {
        max-width: 60%
    }
}