body {
    background-image: url("../benjamin-ashton-T0VOOuz75_w-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: whitesmoke;
}

/* HOME PAGE */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel {
    margin: 0 auto;
    width: 90%;
    border-radius: 25px;
    overflow: hidden;

}

.carousel .item {
    width: 100%;
    background-color: black;
}

.carousel-inner > .item > img {
    min-width: 100%;
}

.d-block {
    height: 300px;
    width: 80%;
}

/* HEADER/NAV */
.header {
    background-color: rgba(0,0,0,0.75);
    margin-bottom: 20px;
}

.bar-name {
    font-size: 112px;
    font-family: 'Monoton', cursive;
}

.secret-link {
    border-radius: 55px;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.nav {
    display: flex;
    justify-content: space-around;
    max-width: 50%;
    margin: 0 auto;
    padding-top: 10px;
}

.header-subsection {
    display: flex;
    font-size: smaller;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}

/* CONTENT PAGES */
.item-section {
    text-align: left;
    background-color: rgba(100,100,100,0.5);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.menu-section {
    margin: 0 auto;
    max-width: 80%;
    background-color: rgba(0,0,0,0.5);
    padding: 25px;
    border-radius: 5px;
}

.name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.name-dietary, .dietary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diet-icon {
    height: 20px;
}

/* ADMIN PAGES */

.new-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MEDIA QUERIES */
@media screen and (min-width: 481px) {
    /* HOME PAGE */
    .d-block {
        height: 500px;
    }

    /* HEADER/NAV */
    #address {
        max-width: 50%;
    }
}

@media screen and (min-width: 1000px) {
    /* HOME PAGE */
    .d-block {
        height: 650px;
    }
    
    /* HEADER/NAV */
    #address {
        max-width: 30%
    }

    /* CONTENT PAGES */
    .menu-section {
        max-width: 60%
    }
}